@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@media(prefers-reduced-motion:no-preference){
    *{
        scroll-behavior: smooth;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

.logo-wrapper a{
    color: black;
    text-decoration: none;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: auto;
    border-bottom: 1px solid black;
}
.logo{
    display: block;
    font-size: 1.3rem;
}

.logo-symbols{
    color: #FD0404;
}

.logo-bold{
    font-weight: bold;
}

.site-header{
    height: 10svh;
    width: 100%;
}

.navbar{
    display: none;
    width: 80%;
    background-color: gray;
}

.main-doc{
    width: 80%;
    margin: 2.5em auto;
}

h2{
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1.8rem;
    text-align: center;
}

.sub-content p{
    font-size: .8rem;
    margin-bottom: 1rem;
}

.content-highlight{
    color: #FD0404;
}

h3{
    font-weight: normal;
    margin-bottom: 1.3rem;
}

.sub-content{
    margin-bottom: 1.8rem;
}

.grammar-tbl, .syntax-tbl{
    width: 100%;
    margin-bottom: 1rem;
}
.grammar-tbl caption, .syntax-tbl caption{
    font-weight: bold;
    margin-bottom: .5rem;
}

.grammar-tbl th, .syntax-tbl th, .grammar-tbl td, .syntax-tbl td{
    border: 1px solid black;
    font-size: .8rem;
    text-align: center;
}

.grammar-tbl th:first-child, .syntax-tbl th:first-child{
    background-color:#95FD98; 
}

.grammar-tbl th:last-child, .syntax-tbl th:last-child{
    background-color:#FF7474; 
}

.html-anatomy-fig{
    width: 100%;
    margin-bottom: 1rem;
}

.html-anatomy-fig img{
    width: 100%;
    margin-bottom: 1rem;
}

.html-anatomy-fig figcaption{
    font-size: 0.8rem;
}

p{
    font-size: .8rem;
    margin-bottom: 1rem;
}

.element-anatomy-lists{
    margin-left: 1rem;
    font-size: .8rem;
}

pre{
    white-space: pre-wrap;
}

.element-anatomy-lists li::marker{
    font-weight: bold;

    color: #FD0404;
}

.anatomy-highlight{
    color: #FD0404;
}

.type{
    padding-left: 1em;
    display: block;
    font-size: .8rem;
}

.code-wrapper{
    color: white;
    background-color:#464646;
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 1rem;
}

.browser-wrapper{
    border: 1px solid black;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.browser-wrapper div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: .8em;
}

.code-snippet{
    margin-bottom: 1rem;
}

.browser-output{
    margin-bottom: 1rem;
}

.code-snippet code{
    display: block;
    margin-top: 1em;
    padding-left: 1em;
    font-size: .7rem;
}

.code-snippet figcaption{
    font-size: .8rem;
}

.tags{
    color: #54A4FF;
}

.attribute{
    color: #ABD2FF;
}

.value{
    color: #FFB10A;
}

.block{
    display: block;
}

.nested{
    display: block;
    margin-left: 1rem;
}

.nested-2{
    margin-left: 2rem;
}

.nested-3{
    margin-left: 3rem;
}

.structure-list{
    list-style-type: none;
}

.structure-list li{
    font-size: 0.8rem;
}

.structure-list li{
    color: #FD0404;
}

.structure-explain{
    color: #303030;
    margin-left: 1rem;
    position: relative;
}

.structure-explain::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #303030;
    top: .2rem;
    left: -.8rem;
}

.requirements-list{
    margin-left: 2rem;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.welcome-output{
    font-weight: bold;
    font-size: 1.2rem !important;
}

.description-output{
    font-size: .8rem !important;
}

.list-output{
    font-size: .8rem !important;
    margin-top: 1rem !important;
    margin-left: 1.5rem;
    position: relative;
}

.list-output::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: black;
    border-radius: 50%;
    left: .5em;
    top:.3em;
}

.links a{
    display: block;
    margin: 1em 0;
    color: #303030;
    width: 100%;
}


.links{
    width: 100%;
}


@media (min-width: 26rem){
    .logo{
        font-size: 1.6rem;
    }

    h2{
        font-size: 2.5rem;
    }

    p, .sub-content p, figcaption,th,td,span:not(.logo,.logo-bold),li,code{
        font-size: 1rem !important;
    }

    h3{
        font-size: 1.7rem;
    }

    .welcome-output{
        font-size: 1.5rem !important;
    }

    .description-output,.list-output{
        font-size: 1rem !important;
    }
}

@media (min-width: 60rem){
    .content-wrapper{
        position: relative;
        display: flex;
        width: 100%;
        gap: 1rem;
        height: 90vh;
        overflow: hidden;
    }

    .main-doc{
        position: sticky;
        top: 1rem;
        padding: 0 2em;
        height: 95%;
        overflow-y: auto;
        border-left: 1px solid #CBCBCB;
    }

    .navbar{
        height: min-content;
        position: sticky;
        top: 1rem;
        display: block;
        width: 30%;
        height: 95%;
        overflow: auto;
        background-color: #F9F9F9;
        padding: 2em;
        border-radius: 22px;
    }

    .site-header{
        width: 100%;
    }

    .logo-wrapper{
        width: 100%;
    }

    .main-section-links-wrapper{
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .navbar a{
        text-decoration: none;
    }

    .navbar ul{
        list-style-type: none;
    }

    .logo-wrapper{
        justify-content: flex-start;
    }

    h2{
        text-align: left;
    }

    .site-header a span{
        font-size: 2rem;
    }

    .nav-header{
        font-size: 2rem;
        text-align: center;
    }

    .main-section-link{
        font-weight: bold;
        margin: 1em 0;
        color: #FD0404;
    }

    .sub-links{
        color:#303030;
        font-size: .8rem;
        margin-left: 1rem;
    }

    .wrapper{
        max-width: 1630px;
        padding: 0 2rem;
        margin: 0 auto;
    }

    .syntax-grammar-wrapper{
        display: flex;
    }

    .code-snippet{
        width: 100%;
    }

    .code-wrapper{
        width: 50%;
        margin: 0 auto 1rem;
    }
}